/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .footer a {
    color: #f4f4f4;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
  }
  
  